.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.currency-select {
    background-color: rgb(123, 148, 123);
    color: white;
    border: none;
    padding: 5px;
    cursor: pointer;
}

.currency-select option:hover {
    background-color: white;
    color: black;
}
  
.alert.alert-info {
    background-color: lightgreen; /* Change this to the desired background color */
    color: black; /* Change this to the desired text color */
    border-color: green; /* Change this to the desired border color */
  }
  

